<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a>Estudiante</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Mis cursos</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row card-wrapper">
        <div *ngFor="let u of arrayCursos" class="col-lg-4">
            <!-- Basic with list group -->
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder">
                <!-- List group -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: {{ u.nombre }} </li>
                    <li class="list-group-item">Seccion: {{ u.s }}</li>
                    <li class="list-group-item">Horario: {{u.horaInicio}} to {{u.horaFin}}</li>
                </ul>
                <!-- Card body -->
                <div class="card-body">
                    <h3 class="card-title mb-3">Codigo: {{ u.codigo }}</h3>
                    <a (click)='redireccionar(u.idAsignacionAuxiliar)' style="color:white" class="btn btn-primary">Ver Curso</a>
                </div>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</div>