<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Asignaciones</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a>Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Asignacion</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a [routerLink]="['/home/dashboard/adm/admin/asignacionauxiliar/nuevo']" class="btn btn-sm btn-neutral">Nueva Asignacion</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="mb-0">Detalles de Asignacion</h3>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input placeholder="Buscar" class="form-control form-control-sm" [(ngModel)]="term" type="text">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-flush" id="datatable-basic">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID#</th>
                                <th scope="col">Auxiliar</th>
                                <th scope="col">Curso</th>
                                <th scope="col">Codigo</th>
                                <th scope="col">Semestre</th>
                                <th scope="col">Seccion</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of arrayAsignacion |filter:term">
                                <th scope="row">
                                    {{u.idAsignacionAuxiliar}}
                                </th>
                                <td>
                                    {{u.nombre}} {{u.apellido}}
                                </td>
                                <td>
                                    {{u.curso}}
                                </td>
                                <td>
                                    {{u.codigo}}
                                </td>
                                <td>
                                    {{u.semestre}} / {{u.anio}}
                                </td>
                                <td>
                                    {{u.seccion}}
                                </td>
                                <td *ngIf="u.Rol_idRol == 1">
                                    <span class="badge badge-success">Administrador</span>
                                </td>
                                <td *ngIf="u.Rol_idRol == 2">
                                    <span class="badge badge-info">Auxiliar</span>
                                </td>
                                <td *ngIf="u.Rol_idRol == 3">
                                    <span class="badge badge-warning">Estudiante</span>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#modal-notification" (click)='obtenerId(u.idAsignacionAuxiliar)'>Desasignar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tfoot>
                                <div>
                                </div>
                            </tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
            <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-danger">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-notification"><a style="color:white">Tu atencion es requerida</a></h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            <i class="ni ni-bell-55 ni-3x"></i>
                            <h4 class="heading mt-4">Una Auxiliar esta por ser desasignado</h4>
                            <p>Al deshacer la asignacion, esta se eliminara permantentemente.</p>

                        </div>
                        <form [formGroup]="loginForm">
                            <p>Escriba el motivo por el que se desea desasignar.</p>
                            <textarea formControlName="motivo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.motivo.errors }" cols="50" rows="5">
                                
                            </textarea>
                            <div *ngIf="submitted && f.motivo.errors" class="invalid-feedback">
                                <div *ngIf="f.motivo.errors.required" class="color:white">El motivo es requerido</div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" (click)='aceptarEliminar()'>Desasignar</button>
                        <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
</div>