<ion-header>
    <ion-toolbar>
        <ion-toolbar color="dark">
            <ion-buttons slot="primary">
                <ion-button (click)="nuevoPost()" color="danger" fill="outline">
                    Nuevo
                    <ion-icon slot="end" name="create"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Mis Post</ion-title>
        </ion-toolbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Item Avatar</ion-label>
            <ion-label>Item Avatar</ion-label>
        </ion-item>

        <img src="https://ionicframework.com/docs/v3/dist/preview-app/www/assets/img/advance-card-bttf.png">

        <ion-card-content>
            <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-start clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
            </ion-col>
            <ion-col align-self-center text-center>
                <ion-note>
                    11h ago
                </ion-note>
            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>