<ion-header>
    <ion-toolbar>
        <ion-toolbar color="dark">
            <ion-buttons slot="primary">
                <ion-button (click)="nuevoPost()" color="danger" fill="outline">
                    Nuevo
                    <ion-icon slot="end" name="create"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Mis Post</ion-title>
        </ion-toolbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let u of misPost">

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../../../assets/img/photo.png">
            </ion-avatar>
            <ion-label>Item Avatar</ion-label>
            <ion-label>{{u.titulo}}</ion-label>
        </ion-item>

        <img *ngIf="u.imagen != ''" src="{{u.imagen}}">
        <iframe *ngIf="u.video != undefined" width="400" height="300" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        <ion-item>
        </ion-item>
        <ion-card-content>
            <p>{{u.texto}}</p>
        </ion-card-content>
        <ion-row>
            <ion-button (click)="editarPost(u.idPost)" color="primary">Editar</ion-button>
        </ion-row>
    </ion-card>
</ion-content>