<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="estudiante-home">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="estudiante-cursos">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Mis Cursos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="estudiante-ticket">
            <ion-icon name="send"></ion-icon>
            <ion-label>Mis Tickes</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="estudiante-post">
            <ion-icon name="text"></ion-icon>
            <ion-label>Posts</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>