<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Asignaciones</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a>Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Asignacion</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Detalles de Asignacion</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-flush" id="datatable-basic">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID#</th>
                                <th scope="col">Auxiliar</th>
                                <th scope="col">Curso</th>
                                <th scope="col">Codigo</th>
                                <th scope="col">Semestre</th>
                                <th scope="col">Seccion</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of array">
                                <th scope="row">
                                    {{u.idAsignacionAuxiliar}}
                                </th>
                                <td>
                                    {{u.nombre}} {{u.apellido}}
                                </td>
                                <td>
                                    {{u.curso}}
                                </td>
                                <td>
                                    {{u.codigo}}
                                </td>
                                <td>
                                    {{u.semestre}} / {{u.anio}}
                                </td>
                                <td>
                                    {{u.seccion}}
                                </td>
                                <td *ngIf="u.Rol_idRol == 1">
                                    <span class="badge badge-success">Administrador</span>
                                </td>
                                <td *ngIf="u.Rol_idRol == 2">
                                    <span class="badge badge-info">Auxiliar</span>
                                </td>
                                <td *ngIf="u.Rol_idRol == 3">
                                    <span class="badge badge-warning">Estudiante</span>
                                </td>
                                <td>
                                    <button data-toggle="modal" data-target="#modal-notification" (click)='obtenerId(u.idAsignacionAuxiliar)' class="btn btn-sm btn-danger" type="button">Asignar</button>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tfoot>

                            </tfoot>
                        </tfoot>
                    </table>

                </div>
                <div>

                </div>

            </div>
            <div *ngIf="estado == false" class="alert alert-{{tipo}} alert-dismissible fade show" role="alert">
                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                <span class="alert-text"><strong>Atencion!</strong> {{ mensaje }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                         
                                                        </button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
            <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-danger">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-notification">Tu atencion es requerida</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            <i class="ni ni-bell-55 ni-3x"></i>
                            <h4 class="heading mt-4">Una asignacion está por ser creada con tus datos</h4>
                            <p>Al asignarte un curso no esposible desasignarlo, precione Aceptar si está seguro de sus acciones.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" (click)='aceptarAsignar()' data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
</div>