<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Administrador </h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a>Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Solicitudes de desasignacion</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Solicitudes realizadas por los estudiantes</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-flush" id="datatable-basic">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID#</th>
                                <th scope="col">Estudiante</th>
                                <th scope="col">Curso</th>
                                <th scope="col">Codigo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of solicitudes">
                                <th scope="row">
                                    {{u.idAsignacionEstudiante}}
                                </th>
                                <td>
                                    {{u.estudiante}}
                                </td>
                                <td>
                                    {{u.curso}}
                                </td>
                                <td>
                                    {{u.codigo}}

                                </td>
                                <td>
                                    <button (click)='eliminar(u.idAsignacionEstudiante)' class="btn buttons-copy buttons-html5 btn-sm btn-default" tabindex="0" aria-controls="datatable-buttons" type="button"><span>Aceptar solicitud</span></button>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tfoot>
                                <div>
                                </div>
                            </tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
            <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-danger">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-notification">Tu atencion es requerida</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            <i class="ni ni-bell-55 ni-3x"></i>
                            <h4 class="heading mt-4">Un detalle esta por ser eliminado</h4>
                            <p>Si elimina este detalle, los auxiliares que tengan asignado el curso, asi como los estudiantes se veran afectados.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" (click)='aceptarEliminar()' data-dismiss="modal">Eliminar</button>
                        <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
</div>